{% extends 'base.html' %}

{% block title %}Reporte del Mensaje Enviado{% endblock %}

{% block content %}
<!--Contenido-->
<div class="container">
    <h2>Datos del Mensaje Enviado</h2>

    <p><strong>Nombre:</strong> {{ nombre }}</p>
    <p><strong>Correo Electrónico:</strong> {{ correo }}</p>
    <p><strong>Teléfono:</strong> {{ telefono }}</p>
    <p><strong>Asunto:</strong> {{ asunto }}</p>
    <p><strong>Mensaje:</strong> {{ mensaje }}</p>
    <!--Boton-->

    <a href="{{ url_for('contacto') }}" class="btn btn-primary">Volver al Formulario</a>
</div>
{% endblock %}